<h2>Sponge <small>We hold the wikis</small></h2>
    <br>
  <p class="text-left" >
    <%= link_to "New Wiki", new_wiki_path, class: 'btn btn-success' %>
  </p>

  <h2 class="text-center">Wikis Index</h2>
    <br>
      <table class="table">
        <tr>
          <th>Title</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
          <%= render @wikis %>
      </table>
    <br>
