<tr id="wiki-<%= wiki.id %>">
  <td>
    <%= link_to wiki.title, wiki %>
  </td>
  <td>
    <% if policy(wiki).update? %>
      <%= link_to "Edit", edit_wiki_path(wiki) %>
    <% end %>
  </td>
  <td>
    <% if policy(wiki).destroy? %>
      <%= link_to "", wiki, method: :delete, remote: true, class: 'glyphicon glyphicon-ok' %>
    <% end %>
  </td>
</tr>
